doctype html
html
	head
	body
		a(href='/writeMessage') Write your message
		h2 These are all the messages
		-each message in messageInfo
			form(name="login", action="/viewMessage", method="get")
			br 
			ul
				li
				|title: #{message.title} 
				br
				|message: #{message.body}