doctype html
html
	head
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js")
		script(type="text/javascript").
			$(document).ready(function(){
			});		
		body
			a(href='/writeMessage') Write your message
			h2 test that this is good

			-each message in messageInfo
				form(name="login", action="/viewMessage", method="get")
				br 

				ul
					li
					|title: #{message.title} 
					br
					|message: #{message.body}