doctype html
html
	head
	body
		a(href='/viewMessage') See your message
		h2 Write your message on this page
		form(name="login", action="/", method="post")
			br
			input(id="inputs" type="text", name="titles", placeholder="Title", autocomplete="off")
			br
			input(id="inputs" type="text", name="messages", placeholder="Message", autocomplete="off")
			br
			input(id="input2" type="submit",value="Submit")
